@model List<TreinaWeb.Musicas.Web.ViewModels.Album.AlbumExibicaoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
     <div class="col-md-10 col-sm-10 col-lg-10">
         <input type="text" id="pesquisaAlbum" class="form-control" />
     </div>
    <div class="col-md-2 col-sm-2 col-lg-2">
        <button id="btnPesquisarAlbum">Pesquisar...</button>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Ano")
        </th>
        <th>
            @Html.DisplayName("Observações")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observações)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnPesquisarAlbum").click(function () {
                var termoPesquisa = $("#pesquisaAlbum").val();
                $.ajax({
                    method: "GET",
                    url: "/Albuns/FiltrarPorNome?" + termoPesquisa,
                    success: function (data) {

                    },
                    error: function (data) {
                        alert("Houve um erro na pesquisa.")
                    }
                });
            });
        });
    </script>
}
