
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Albuns", "Index", "Açbuns")</li>
        <li>@Html.ActionLink("Musicas", "Index", "Musicas")</li>
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Olá, " + User.Identity.Name + ". Fazer logoff", "Logoff", "Usuarios")</li>
        }
        else
        {
            <li>@Html.ActionLink("Fazer login", "Login", "Usuarios")</li>
        }
    </ul>
</div>